@import 'themes/default';
@import 'themes/black-and-white';

body {
    margin: 20px;
    background-color: #fafafa;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    position: absolute;
    line-height: 1em;
}

.game {
    display: flex;
    margin-left: 64px;

    .board {
        flex: 3;

        .space {
            fill-opacity: 0;
            cursor: pointer;
        }

        .space-no-click {
            fill-opacity: 0;
            cursor: default;
        }

        .space:hover {
            fill: red;
            fill-opacity: 0.5;
        }

        svg {
            height: 90vh;
            width: 100%;

            text {
                transform: translate(0px, 1px);
            }
        }
    }

    .captures {
        margin-top: 30px;

        .capture {
            width: 1ex;
            display: inline-block;
        }

        .count {
            color: #777;
            font-size: 80%;
            margin-left: 2ex;
            line-height: 100%;
        }
    }

    .moves {
        // This div is just for debugging.
        flex: 1;
    }
}
