@import 'themes/default';
@import 'themes/black-and-white';

body {
    margin: 20px;
    background-color: #fafafa;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    position: absolute;
    line-height: 1em;
}

.game {
    display: flex;
    margin-left: 64px;

    .board {
        flex: 3;

        .space {
            fill-opacity: 0;
            cursor: pointer;
        }

        .space:hover {
            fill: red;
            fill-opacity: 0.5;
        }

        svg {
            height: 90vh;
            width: 100%;

            text {
                transform: translate(0px, 1px);
            }
        }
    }

    .moves {
        // This div is just for debugging.
        flex: 1;
    }
}
